# Credenciais (NUNCA commitar)
CREDENCIAIS.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (caso adicione dependencias no futuro)
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
